body {
  padding: 5px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.table .text-right {
		text-align: right;
}

.table .text-left {
	text-align: left;
}
.table .text-center {
	text-align: center;
}