extends layout

block content
  
  nav.navbar.navbar-default.navbar-static-top(role="navigation")
    .container-fluid       
      form(name="logout", action="#{webroot}/logout", method="get")                 
        button.btn.btn-default.navbar-btn.navbar-right.btn-xs(type="submit", value="Logout")= t('btn_logout')
      span.navbar-text.navbar-right= t('signed_in')
        a.navbar-link(href="./app/user")= user.displayName
        
    
  h2= t('title')

  div.panel.panel-default      
      div.panel-body
          table.table-condensed  
             tbody
                tr  
                  td.col-sm-2.span2(valign='top')= t('user_info_title')
                    pre
                       code.json #{JSON.stringify(user, undefined, 3)}
                  td.col-sm-2.span2(valign='top')= t('token_info_title')
                    pre
                       code.json #{JSON.stringify(tokens, undefined, 3)}                                             
                       p Issued to: #{client.client_id}
                       p Issued by: #{issuer}
                       p Expires at #{new Date(client.expiry_time)}      
