extends layout

block content
   h2= t('title')
   p= t('info')

    .row        
        .col-xs-4
            form(name="enter", action="app", method="get")        
                button.btn.btn-primary.btn-block(type="submit")= t('btn_enter')
        
      