doctype html

head
  title= title
  meta(name='viewport', content='width=device-width, initial-scale=1.0')  
  link(rel='stylesheet', href='#{webroot}/css/bootstrap.css')
  link(rel='stylesheet', href='#{webroot}/css/bootstrap-theme.css')
  link(rel='stylesheet', media='all', type='text/css', href='#{webroot}/css/jquery.pnotify.default.css')
  link(rel='stylesheet', media='all', type='text/css', href='#{webroot}/css/highlight-default.css')
  link(rel='stylesheet', media='all', type='text/css', href='#{webroot}/css/style.css')

  script(src='#{webroot}/js/highlight.pack.js')
  script(type='text/javascript').  
    hljs.initHighlightingOnLoad();
body
  .container
     include inc/header
     block content    
     include inc/footer