extends layout

block content

     script(type='text/javascript').
     
       var options = {}       
       options.opacity = 1.0
       options.styling = 'bootstrap'
       options.animate_speed = 'low'
       options.delay = 3000
       options.icon = true 
       options.closer = true
           
       function set_poll() {
            setTimeout(poll, #{interval} * 1000)
       }
       
       function login_success() {
            setTimeout(function() { window.location = './app' }, 2000)
       }
  
       function poll() {                      
           var notify_params = {}
           $.get( "poll", function( data ) {               
                if (data.state == "authorization_pending" || data.state == "slow_down") {
                   set_poll()                   
                } else if (data.state == "invalid_grant") {
                    notify_params.title = "Expired"
                    notify_params.text = 'The authorization request expired, please <a href="login" class="alert-link">try again</>.'
                    notify_params.type = 'error'
                    notify_params.hide = false
                    var notice = $.pnotify(options)    
                    notice.pnotify(notify_params)
                    
                } else if (data.state == "access_denied") {
                    notify_params.title = 'Access Denied'
                    notify_params.text = 'It looks you did not authorize me :/ Please <a href="login" class="alert-link">try again</>'
                    notify_params.type = 'warning'
                    notify_params.effect = 'bounce'
                    notify_params.delay = 5000
                    var notice = $.pnotify(options)              
                    notice.pnotify(notify_params)
                } else if (data.state == "success") {
                    notify_params.title = 'Thanks!'
                    notify_params.text = 'Received successful authorization, now proceeding to the app!'
                    notify_params.type = 'success'
                    notify_params.delay = 2000
                    var notice = $.pnotify(options)    
                    notice.pnotify(notify_params)
                                                        
                    login_success()                    
                } else {
                    notify_params.title = 'Oops!'
                    notify_params.text  = 'Looks that the authorization operation failed, please <a href="login" class="alert-link">try again</>.'
                    notify_params.type  = 'error'
                    notify_params.delay = 2000
                    var notice = $.pnotify(options)    
                    notice.pnotify(notify_params)
                    //set_poll()
                }                                                
            })
       }       
       function ready() {
          options.width = $.pnotify.defaults.width + 200
          set_poll()
       }       
                  
     h2= t('title')
     p= t('login_message')
     
     if error        
       .alert.alert-danger
          strong= t('error_note') 
          = t(error)
     else

        p= t('login_info')        
        p= t('login_info_qr')

        .alert.alert-info
          strong= t('separate_device_note') 
          = t('separate_device_msg')

         div.panel.panel-default
            //- div.panel-heading Authorization Data
            div.panel-body
                table.table-condensed
                  tbody
                    tr(valign='top')
                      td 
                        table.table-condensed                        
                          tr  
                            td 
                              strong= t('verification_url')   
                            td 
                              a(href='#{short_verification_uri}' target='_blank') #{short_verification_uri}
                          tr
                            td 
                              strong= t('user_code')   
                            td #{user_code}
                      td.text-right
                        a(href='#{user_verification_url}' target='_blank') 
                          img.img-thumbnail(src='#{qr_url}')

         p= t('login_info_code_expiry', {expireDate: expires_at.toString()} )                            
         p= t('login_info_next_step')
    