extends layout

block content
  // TODO: move top navbar to header with if to check if user logged in...
  nav.navbar.navbar-default.navbar-static-top(role="navigation")
    .container-fluid       
      form(name="logout", action="#{webroot}/logout", method="get")
        button.btn.btn-default.navbar-btn.navbar-right.btn-xs(type="submit", value="Logout")= t('btn_logout')
      span.navbar-text.navbar-right= t('signed_in')
        a.navbar-link(href="user")= user.displayName
        
    
  h2= "User Profile"

  div.panel.panel-default      
      div.panel-body
          table.table-condensed
             tbody
                tr  
                  td.col-sm-2.span2
                    p Display name:
                  td.col-sm-2.span2
                    p #{user.displayName}
                tr
                  td.col-sm-2.span2  
                    p First name: 
                  td.col-sm-2.span2
                    p #{user.givenName}
                tr
                  td.col-sm-2.span2
                    p Last name: 
                  td.col-sm-2.span2
                    p #{user.familyName}
                tr
                  td.col-sm-2.span2
                    p UserID: 
                  td.col-sm-2.span2
                    p #{user.id}
                tr
                  td.col-sm-2.span2  
                    p Access Token: 
                  td.col-sm-2.span2
                    p #{tokens.access_token}                                             
                tr
                  td.col-sm-2.span2
                    p Issuer: 
                  td.col-sm-2.span2
                    p #{issuer}
                tr
                  td.col-sm-2.span2
                    p Issued to: 
                  td.col-sm-2.span2
                    p #{client.client_id}      
                tr
                  td.col-sm-2.span2
                    p Expires at:
                  td.col-sm-2.span2
                    p #{new Date(client.expiry_time)}      
