<?php
return array (
  'stats_api' => 'Server',
  'slabs_api' => 'Server',
  'items_api' => 'Server',
  'get_api' => 'Server',
  'set_api' => 'Server',
  'delete_api' => 'Server',
  'flush_all_api' => 'Server',
  'connection_timeout' => '1',
  'max_item_dump' => '100',
  'refresh_rate' => 5,
  'memory_alert' => '80',
  'hit_rate_alert' => '90',
  'eviction_alert' => '0',
  'file_path' => 'Temp/',
  'servers' =>
  array (
    'Local' =>
    array (
      {% for host in groups[memcached_group] %}
         '{{ host }}' =>
            array (
                'hostname' => '{{ hostvars[host][memcached_network_key]['ipv4']['address']  }}',
                'port' => '11211',
            ),
      {% endfor %}
    ),
  ),
);
