doctype html

head
  title= t('title')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet', href='#{webroot_ux}/css/bootstrap.min.css')
  link(rel='stylesheet', href='#{webroot_ux}/css/signin.css') 
  link(rel='stylesheet', href='#{webroot_ux}/css/ns/#{ns.style}/style.css') 

  body
    .container
       include inc/header
       block content    
       include inc/footer