extends layout

block content
  form.form-signin(action="#")
     h2.form-signin-heading= t('title')     
   
     if error        
       .alert.alert-danger
          strong= t('error_note')
          p= t(error)
              
     if success
        .alert.alert-success  
          strong= t('success_note') 
          p= t(message)
  
     .info
        div= t('close')  
