extends layout

block content
   
  form.form-signin(name="user-code-form", action="user", method="post")
     h2.form-signin-heading= t('title')
     p= t('info')
   
     if error && user_code        
        if error
           .alert.alert-warning 
              strong= t('error_note')
              = t(error)

     input#code.form-control(name="code", type="text", placeholder=t('user_code_placeholder'))
     input.btn.btn-primary.btn-block(type="submit", value=t('user_code_submit'))