
nav.navbar.navbar-default.navbar-static-bottom(role="navigation")
  .container-fluid 
    span.navbar.text= t('footer_text')

script(src='#{webroot}/js/jquery.js')
script(src='#{webroot}/js/bootstrap.min.js')
script(src='#{webroot}/js/jquery.pnotify.js')

script(type='text/javascript').
    $(document).ready(ready);